<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    USD/BITCOIN
  </h1>
  <div id="currentValue">

    {{currentValue}}---{{variation}}


  </div>
  <div style="display:inline-block">
    <canvas id="bitcoinChart" baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
      [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
  </div>


</div>        